body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column;
}
.main{
 margin: 5px,5px,5px,5px;
  display: flex;
  flex-direction: row;
  overflow: unset;
}


#headshot {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 5px solid #FCF7F8


}

/* img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
} */
.content{
  margin-top: 25px;
}


h1,h3{
color: #FCF7F8;
}

p1{
  color: #FCF7F8;
  font-size: 100%;
  font-style: oblique;
}

header {
  text-align: center;
  justify-content: center;
  background-color: #343330;
}
#heading{
  font-family: sans-serif;
  font-size: 110%;
  background-color: #343330;
  color: azure;
  padding-top: 10px;
  padding-bottom: 10px;

}


footer {
  background-color: #343330;
  text-align: center;
}
#sidebar{
  width: 23%;
  padding-top: 25px;
  padding-left: 3%;
  margin-right: 25px;
  background-color: gray;
  padding: 0.5 rem;
  color: black;
  
  

}
.nav-menu{
  list-style-type: none;
  padding: 5%;
}

.Icons{
  width: 5 rem;
  margin: 3 rem;
  height: auto;
  border-radius: 55%;
}


